@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* palette #4342 */
  --brown-dark: #4e362a;
  --brown: #5f3e3a;
  --brown-purple: #4d4049;
  --brown-purple-2: #4a393f;
  --purple-dark: #282637;
  --blue-soft: #53627a;
  --olive-green: #8c9da7;

  --white: #dcd9d3;
  --orange: #be3d2d;
  --green-dark: #16201c;

  --gray-regent: #8c9da7;
  --brandy-rose: #c09183;
  --panch: #eabc9e;
  --Botticelli: #c6e0e5;

  --bali-hai-gray: #8c9da7;
  --burnt-sienna: rgb(241, 116, 91);
  --thatch: #ba9fa0;
  --shadow-green: #97c4b2;
  --charde: #2b2b3b;

  --light-blue: #7991ec;
}
body,
html {
  height: 100%;
}
body {
  color: var(--white);
  font-family: "Roboto ", sans-serif;
  margin: 0;
  background-image: linear-gradient(180deg, var(--charde), var(--brown-purple), #4a393f);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
#__next {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
  color: var(--charde);
}
.header span {
  color: var(--burnt-sienna);
  padding: 8px 30px;
  border: 3px solid #97c4b2;
  border-radius: 50px;
  display: inline-block;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
