#home {
  margin: 30px 20px 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
  max-width: 100%;
}
.title .span {
}
.carouselContainer,
.whatWeDo {
}
.carouselContainer {
  padding: 0px 30px;
  display: flex;
  justify-content: flex-end;
}
.carousel {
  border-radius: 5px;
  font-size: 0;
  max-width: 540px;
}
.carouselLarge {
  transform: scale(1.5);
}

.slide {
  box-shadow: 0px 0px 12px var(--charde);
}

.slide .img {
  width: auto;
  border-radius: 5px;
}
.whatWeDo {
  display: flex;
  flex-direction: column;
}
.whatWeDo .title span {
  border-radius: 50px;
  border: 2px solid rgba(151, 196, 178, 0.6);
  padding: 9px 20px 8px;
  font-size: 24px;
  color: var(--burnt-sienna);
  font-family: "Roboto Condensed", sans-serif;
  text-transform: capitalize;
  border-bottom: none;
}
.whatWeDo .list {
  text-align: left;
  margin: 5px auto 30px;
  border-radius: 20px;
  border: 2px solid rgba(151, 196, 178, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
}

.list .li {
  margin: 10px auto;
  font-size: 20px;
  list-style: "✔";
  padding: 0 20px 0 10px;
  text-transform: capitalize;
}
.octoheader {
  max-width: 400px;
  align-self: center;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.octoheader svg {
  fill: red;
}
@media screen and (max-width: 1033px) {
  #home {
    flex-wrap: wrap;
  }
  .whatWeDo {
    min-width: 0;
  }
  .whatWeDo .title {
    margin: 20px 0 0;
  }
}
@media screen and (max-width: 514px) {
  .carouselContainer {
    padding: 0;
    width: 100%;
  }
  .carousel {
    margin: 0 0;
    width: 100%;
  }
}
