.wrapper {
  background-image: linear-gradient(180deg, var(--charde), var(--brown-purple), #4a393f);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.container {
  text-align: center;
}
